.footer {
  background-color: #000;
  color: #fff;
  padding: 2rem;
}

.container {
  max-width: 1200px;
  padding: 0 20px 0 !important;
  margin: 0 auto;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}


.footer-section h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer-section h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
  padding-top: 10px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #333;
}

.updates-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.get-updates h3 {
  margin-bottom: 0.5rem;
  margin-top: -30px;
}

.email-form {
  display: flex;
}

.email-form input {
  padding: 0.5rem;
  border: none;
  border-radius: 4px 0 0 4px;
}

.email-form button {
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.social-icons {
  display: flex;
  gap: 2rem;
  cursor: pointer;
}

.footer-legal {
  margin-top: 2rem;
  text-align: center;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
}

.footer-legal a {
  color: #fff;
  text-decoration: none;
}

.footer-legal a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr;
  }

  .updates-social {
    flex-direction: column;
    align-items: flex-start;
  }

  .social-icons {
    margin-top: 1rem;
  }

  .get-updates h3{
    margin-top: 0;
  }

  .footer-legal{
    display: block;
  }
}