*{
    font-family: Audiowide;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}

header.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
    /* border-bottom: 1px solid #ccc; */
}

.logo {
    font-family: Audiowide;
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-top: -5px;
}

.logo-image {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.navlist ul {
    display: flex;
    list-style: none;
}

.navlist ul li {
    margin: 30px 5px;
}

.navlist ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: lightgrey;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* .navlist ul li a.active {
    background-color: black;
    color: white;
} */

.navlist ul li a:hover {
    background-color: black;
    color: white;
    box-shadow: 3px 1px 3px rgb(40, 39, 39);
}

#btn {
    background-color: black;
    color: white;
    margin-top: -25px;
    padding: 8px 20px;
    border-radius: 50px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
    box-shadow: 3px 3px 10px black;
}

.menu-icon{
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar{
        padding: 20px;
        margin-bottom: 100px;
    }

    .navlist{
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    background: #f2f2f2;
    }

    .navlist.active{
        display: flex;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .navlist li{
    text-align: center;
    padding: 2rem;
    width: 100%;
    margin-left: 0;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 20px;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
      }
}


/* .btn:hover {
    background-color: darkgrey;
} */