body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* background-color: black !important; */
  }
  
  .navbar {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 35px 20px !important;
    background: none;
    /* background-color: black; */
    /* background-color: black; */
    /* position: relative !important; */
  }
  
  .brand {
    font-size: 24px;
    font-weight: bold;
    color: black;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    padding: 0;
    flex: 1;
    align-items: center;
  }
  
  .nav-links li {
    display: inline-block;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .nav-links a.active, .nav-links a:hover {
    color: #FFCC00;
  }
  
  .download-btn {
    background-color: #FFCC00;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    position: absolute;
    right: 40px;
  }
  
  .download-btn:hover {
    background-color: #FFB84D;
  }
  
  .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 2;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: 0.4s;
  }
  
  .bar1 {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.bar2 {
    opacity: 0;
}

.bar3 {
    transform: rotate(45deg) translate(-6px, -7px);
}

  @media (max-width: 768px) {
    .nav-links {
      display: none;
      text-align: center;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: black;
      padding: 60px 0;
      z-index: 1;
    }

    .nav-links a{
      color: white;
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .navbar {
      position: relative;
      margin-bottom: 100px;
      padding: 17px 20px !important;
    }
  
    .download-btn {
      margin-top: 0px;
      width: 50%;
      text-align: center;
      right: 0;
      position: relative;
    }
  
    .menu-icon {
      display: flex;
    }
  }
  
  @media (max-width: 480px) {
    .brand {
      font-size: 20px;
    }
  
    .download-btn {
      padding: 8px 15px;
      font-size: 14px;
    }
  }
  